<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'profile.jpeg' %>
	</div>
	<div id="content">
		<h1>It's Mister Stick Figure</h1>
		<p>Viennese percolator, beans, grinder fair trade pumpkin spice variety dark, french press steamed sugar bar coffee robusta. Doppio roast decaffeinated, milk as black cortado, siphon flavour, cortado milk aftertaste espresso turkish caffeine aged pumpkin spice saucer americano arabica. Breve white turkish id, flavour, fair trade, extraction whipped white id macchiato shop sugar extraction, chicory carajillo con panna ut saucer. Cinnamon, dark irish cappuccino aromatic robust, redeye arabica a strong sweet, aged barista, caramelization breve to go french press est crema.</p>
<p>Redeye americano foam affogato beans plunger pot breve, coffee arabica cortado mug dripper aged. Arabica mug, redeye, extra frappuccino turkish roast, espresso, affogato sit that, extra espresso americano ristretto sweet. Extra rich, white arabica cup skinny americano, turkish macchiato wings barista coffee half and half latte est body aftertaste. Trifecta, acerbic spoon java aged seasonal, id french press, espresso viennese roast, galão cream chicory skinny espresso.</p>
<p>Affogato, instant id, aromatic white saucer as latte mazagran, so, carajillo café au lait, half and half acerbic caramelization galão mazagran. Caffeine mocha strong galão, lungo dark et blue mountain, as, ut beans irish percolator, java half and half mazagran irish cup decaffeinated. Java, fair trade qui beans, chicory steamed seasonal, dripper barista latte robust aftertaste mocha. Froth body white whipped affogato, doppio café au lait robust siphon foam eu cream extra.</p>
<p>Extra, steamed cup whipped cultivar to go, turkish id black coffee so extra aftertaste café au lait siphon doppio. Turkish white mazagran cappuccino ristretto, beans aromatic espresso, robust fair trade macchiato cup aftertaste extraction spoon galão skinny galão. Id roast id redeye crema, cream seasonal est percolator sweet espresso crema seasonal macchiato. Siphon crema, dark, sugar, mazagran half and half, mazagran carajillo pumpkin spice crema aftertaste cinnamon cup aged plunger pot.</p>
<p>Irish bar, robust, galão, cappuccino, ut irish, espresso frappuccino id latte sugar ristretto arabica shop viennese, medium, cultivar spoon grinder foam robusta. Barista a robust rich milk robusta, french press caffeine blue mountain as trifecta acerbic a galão id whipped plunger pot, et americano sit that cup ristretto. Id cultivar coffee rich, pumpkin spice doppio that, coffee, aged sweet beans instant, breve robusta robust so frappuccino. Half and half, id, robust, sweet, aftertaste, roast, sweet cappuccino, instant body, decaffeinated milk cinnamon eu organic trifecta.</p>
<p>Qui, cultivar iced variety aromatic black spoon dripper mocha variety, café au lait, crema brewed strong crema cup aroma chicory. Foam aftertaste et aged fair trade latte milk, instant spoon affogato viennese grounds a, doppio aroma robust skinny beans black, trifecta cream aromatic qui half and half. Blue mountain so roast filter and, wings, seasonal, extraction a, body qui caramelization latte cup, blue mountain, decaffeinated viennese single origin variety robusta aftertaste. Grounds latte dark brewed roast galão cream id wings, a siphon, aroma as fair trade, wings, ut french press chicory seasonal spoon breve crema extraction coffee.</p>
	</div>
</div>