<div id="post_content">
	<h1 class="title"><%= @post.title %></h1>
	
	<p class="date">Submitted <%= time_ago_in_words(@post.created_at) %> ago
		<% if user_signed_in? %>
			| <%= link_to "Make Changes", edit_post_path(@post) %> | <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Really? This cannot be undone.... don\'t come crying to me.... Are you really certain?'} %>
		<% end %>
		</p>
	
	<p class="body"><%= simple_format(@post.body) %></p>

	<div id="comments">
		<h2><%= pluralize(@post.comments.count, "Comment") %></h2>
		<%= render @post.comments %>
		<h3>Join the discussion:</h3>
		<%= render "comments/form" %>
	</div>
</div>