<!DOCTYPE html>
<html>
<head>
  <title>Tumbl esque | Post with style</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<aside id="sidebar">
	<nav>
		<ul>
			<li class="category"><%= link_to "Tumbl esque", root_path %></li>
			<li><%= link_to "Posts", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>
		<% if !user_signed_in? %>
		<p class="sign_in"><%= link_to "User Login", new_user_session_path %></p>
		<% end %>
	</nav>
</aside>

<section id="main_content">
	<header id="header">
		<% if current_page?(root_path) %>
			<p>Post Feed</p>
		<% elsif current_page?(about_path) %>
			<p>About My Site</p>
		<% else %>
			<p><%= link_to "Back to Post Feed", root_path %></p>
		<% end %>
		

	<% if user_signed_in? %>
			<div class="buttons">
				<button class="button"><%= link_to "Make Post", new_post_path %></button>
				<button class="button"><%= link_to "Log Out", destroy_user_session_path , method: :delete %></button>
			</div>
	<% end %>
	</header>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert") %> 
	<% end %>

	<%= yield %>

</section>
</body>
</html>
